@import "variables";

body {
  font-family: 'Pribambas';
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.cutPaper {
  background-image: url($imgPath + 'cut-paper.png');
  background-position: bottom;
  background-size: cover;
  padding: 30px 40px 40px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  box-shadow: none;
  background-color: #625f5b;
  color: #e8e0d3;
  font-size: 30px;
  border: none;
  font-family: 'Pribambas', sans-serif;
  height: 40px;
  text-align: center;
  border-radius: 20px;
  &:hover {
    cursor: pointer;
  }
}

.text {
  &-bold {
    font-weight: bold;
  }
}
