@import "variables";

.first {
  background-image: url($imgPath + 'bg.jpg');
  overflow: hidden;
  position: relative;
  &_grid {
    display: grid;
    grid-template-columns: 27vw 1fr 25vw;
    grid-template-rows: 50vh;
    padding: 40px;
    grid-gap: 20px;
    grid-template-areas: "one two three";
    @media screen and (max-width: 980px){
      grid-template-columns: 20vw 1fr 17vw;
      grid-template-rows: auto;
    }
    @media screen and (max-width: 768px){
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "one three" "two two";
      grid-template-rows: auto;
    }

    .one {grid-area: one; z-index: 1;}
    .two {
      grid-area: two;
      z-index: 1;
      .toggle {
        &_sale {
          animation: 2s infinite fadeIn step-end;
        }
        &_by {
          animation: 2s infinite fadeOut step-end;
        }
      }

      &_startEnd {
        color: $orange;
        text-align: center;
        background-color: #fff;
        border-radius: 5px;
        padding: 3px 8px;
        box-shadow: 1px 3px 5px rgba(0,0,0,.4) inset;
        margin: 0 auto 20px;
        max-width: 350px;
        font-size: 32px;
      }
    }
    .three {grid-area: three; z-index: 1;}

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    svg {
      @media screen and (max-width: 980px){
        width: 100%;
        height: 100%;
        max-height: 40vh;
      }
      text {
        font-family: 'Pribambas', sans-serif;
      }
    }
  }

  &_sausage {
    width: 100%;
    &__left, &__right {
      position: absolute;
      img {
        width: 100%;
        height: auto;
        @media screen and (max-width: 768px){
          width: 100px;
        }
      }
    }
    &__left {
      left: 10vw;
      bottom: 100vh;
      animation-fill-mode: backwards;
      animation: 2s infinite sausageAnimationLeft step-start;
    }
    &__right {
      right: 10vw;
      bottom: calc(100vh + 500px);
      animation-fill-mode: backwards;
      animation: 2s infinite sausageAnimationRight step-end;
    }
  }
}

@keyframes sausageAnimationLeft {
  0% {
    transform: rotate(0);
    bottom: 110vh;
  }
  20% {
    transform: rotate(25deg);
    bottom: 70vh;
  }
  40% {
    transform: rotate(25deg);
    bottom: 30vh;
  }
  60% {
    transform: rotate(45deg);
    bottom: 10vh;
  }
  80% {
    transform: rotate(60deg);
    bottom: -10%;
  }
  100% {
    transform: rotate(90deg);
    bottom: -50%;
  }
}
@keyframes sausageAnimationRight {
  0% {
    transform: rotate(0deg);
    bottom: 100vh;
  }
  20% {
    transform: rotate(-40deg);
    bottom: 70vh;
  }
  40% {
    transform: rotate(-55deg);
    bottom: 45vh;
  }
  60% {
    transform: rotate(-60deg);
    bottom: 10vh;
  }
  80% {
    transform: rotate(-80deg);
    bottom: -10%;
  }
  100% {
    transform: rotate(-100deg);
    bottom: -50%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 1;
    visibility: visible;
  }
  50% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
